[mgr]
ratio = [1, 3, 3]
# Terminal title format
title_format = "{cwd}"
# Information next to the filename
linemode = "size"

sort_by = "natural"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
sort_translit = false

scrolloff = 4
# All mouse events
mouse_events = ["click", "scroll", "touch", "move", "drag"]

show_hidden = false
show_symlinks = true

[preview]
wrap = "no"
tab_size = 4


# ==== OPENERS ====
# Specify commands for how to open different types of files
#
# run: command
# block: hide yazi while the process is running
# orphan: keep process running even if yazi closed
# desc: description
# for: linux, macos, windows, android (termux), unix (linux, macos, android)

[opener]
# Automatic file detection
default = [
	{ run = 'xdg-open "$1"', desc = "Open with default", for = "linux" },
	{ run = 'start "" "%1"', desc = "Open with default", for = "windows", orphan = true },
]
# Open in a file explorer
reveal = [
	{ run = 'dolphin "$(dirname $1)"', desc = "Open with dolphin",  for = "linux", orphan = true },
	{ run = 'explorer /select,"%1"',   desc = "Open with explorer", for = "windows", orphan = true },
]
# Open in a text editor
edit = [
	{ run = 'nvim "$@"', desc = "Open with nvim", for = "linux", block = true },
]
# Extract files quickly
extract = [
	{ run = 'ya pub extract --list "$@"', desc = "Extract here", for = "unix" },
	{ run = 'ya pub extract --list %*',   desc = "Extract here", for = "windows" },
]

# Match opener with filetypes
[open]
# prepend_rules: highest precedence
# append_rules: lowest precedence
# rules: override everything
rules = [
	# url: glob expression matching file URL
	# mime: glob expression of the file's mime type
	# use: opener to use ([opener] section), if multiple, they can be selected in
	# the "open interactively" option
	{ name = "*/",              use = ["default", "reveal", "edit"] },
	{ mime = "inode/empty",     use = ["edit", "reveal"] },
	{ mime = "text/*",          use = ["edit", "reveal"] },
	{ mime = "image/*",         use = ["default", "reveal"] },
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = ["default", "extract", "reveal"] },

	# Fallback
	{ name = "*", use = ["default", "reveal"] },
]
